ul.card.episode-list {
  padding: 4px;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: scroll;
  width: 64vw;
  max-width: 500px;
}

@media device,screen and (max-width: 768px) {
  .column {
    width: 100vw;
  }

  ul.card.episode-list {
    overflow: scroll;
    width: 100%;
  }

}
