li.episode-list-item {
  padding: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  height: 60px;
  line-height: 64px;
  font-weight: bold;
  border-bottom: .75px solid #f3f3f3;
}

li.episode-list-item p {
  display: inline;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li.episode-list-item i {
  color: #ffe18d;
}
